/* Grade1Quiz.css */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.question-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.quiz-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.question-navigation {
    flex: 0 0 20%;
    margin-right: 20px;
}

.quiz-question-wrapper {
    flex: 1;
}

.answer-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.answer-button:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FF69B4;
    color: white;
}

button:hover {
    background-color: #ff1e5a;
}


.quiz-navigation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.quiz-navigation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

