.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #f7f7f7;
    text-align: center;
}

.signup-page h2 {
    font-size: 2rem;
    margin-bottom: 1em;
}

.signup-page p {
    font-size: 1.2rem;
    margin-bottom: 2em;
}

