.question-navigation {
    padding: 10px;
    display: flex;
    flex-direction: row;  /* Stack items vertically */
    align-self: center;
    justify-content: center;
    height: auto;  /* Allow height to adjust based on content */
    position: static;
    box-sizing: border-box;
    gap: 20px;
}

.question-navigation.hidden .grid-container {
    display: none; /* Only hide the grid container */

}

.question-navigation.hidden .toggle-button {
    display: block; /* Ensure the button is always visible */
}

/* Wrapper for buttons */
.button-wrapper {
    display: flex;
    flex-direction: column; /* Align buttons horizontally */
    justify-content: start; /* Center horizontally */
    align-items: start; /* Center vertically */
    position: static;
}

/* Common button style */
.button, .toggle-button {
    width: 120px; /* Set a fixed width for uniform size */
    height: 40px; /* Set a fixed height for uniform size */
    padding: 0; /* Ensure padding doesn't distort size */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px; /* Adjust font size */
}

.button:hover, .toggle-button:hover  {
    background-color: #0056b3;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 items per row */
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #e0e0e0;
}

.grid-item.active {
    font-weight: bold;
    color: white;
    background-color: #007bff;
}



